<!DOCTYPE html>
<HTML>

    <link rel=StyleSheet href="static/css/data_style.css" type="text/css">
    
    <head>
        <title>Sobre los datos..</title>
    </head>

    <body>
        <header id="banner">
            <h1>Procesamiento del Lenguaje Natural</h1>
        </header>

        <nav class="nav">
            <ul>
                <li><a href="index">HOME</a></li>
                <li><a href="data">DATA</a></li>
                <li><a href="model">MODEL</a></li>

            </ul>
        </nav>

        <section id="wrapper">
            <article id="article_1">

                <header id="header_article_1">
                    <h2>Trip Advisor Hotel Reviews</h2>

                    <section id="section_article_1"> 
                        <p>Los hoteles juegan un papel crucial en los viajes y con el aumento del acceso a la información surgieron nuevos caminos para seleccionar los mejores.
                            Con este conjunto de datos, que consiste en 20k reseñas rastreadas desde Tripadvisor, puedes explorar lo que hace a un gran hotel y tal vez incluso usar este modelo en tus viajes!</p>
                    </section>
                </header>
                
                <h2>Notebook con el analisis</h2>

                <section id="section_article_1"> 
                    <p>Pueden encontrar mi analisis en el siguiente link y si tienen dudas o sugerencias pueden contactarme en LinkedIn.</p>
                    <a href="https://colab.research.google.com/drive/1qzeAsqFlRKUVF6xNT96f6S8jyE-Cteb5?usp=sharing">Franco Google Colab</a> <br> <br>
                    <a href="https://www.linkedin.com/in/franco-benko/">Mi LinkedIn</a>
                </section>
                
            </article>
        </section>
        
        <footer class="pie-pagina">
            <p>Franco Benko - 2020</p>
        </footer>
    </body>

</HTML>