<!DOCTYPE html>
<HTML>

    <link rel=StyleSheet href="static/css/index_style.css" type="text/css">
    
    <head>
        <title>Proyecto de Franco</title>
    </head>

    <body>
        <header id="banner">
            <h1>Procesamiento del Lenguaje Natural</h1>
        </header>

        <nav class="nav">
            <ul>
                <li><a href="index">HOME</a></li>
                <li><a href="data">DATA</a></li>
                <li><a href="model">MODEL</a></li>

            </ul>
        </nav>

        <section id="wrapper">
            <article id="article_1">

                <header id="header_article_1">
                    <h2>Opiniones y puntajes sobre hoteles</h2>

                    <section id="section_article_1"> 
                        <p>El proyecto consta de montar una simple app web con un modelo de Deep Leaning entrenado para analizar las reviews que dejan los usuarios en la seccion de opiniones y poder extraer features que nos permitan inferir cuantas estrellas le daria al hotel.</p>
                    </section>
                </header>
                
                <img class="img-home" src="static/imagen_home.jpg">
            </article>
        </section>
        
        <footer class="pie-pagina">
            <p>Franco Benko - 2020</p>
        </footer>
    </body>

</HTML>